.descriptif {
    display: flex;
    padding: 30px;
    font-size: 19px;
    &__titre {
        text-align: center;
    }

    &__text {
        padding: 0 30px;
        text-align: center;
    }
}

.containerDescriptif {
    margin: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ventes {
    display: flex;
    padding: 30px;
}

.ventesTitre {
    margin-top: 20px;
    font-size: 30px;  
}

.containerVentes {
    margin: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: snow;
    border-radius: 20px;
}

.containerArticle {
    border-radius: 15px;
    box-shadow: $couleur-primaire 0px 0px 4px 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.article {
    display: flex;
    max-width: 500px;
    padding: 30px;
    font-size: 22px;

    &__title {
        padding: 10px 0px;
    }

    &__picture {
        
        img {
            display: block;
            width: 100%;
        }
    }

    &__bouton {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
        width: 100%;
        background-color: $couleur-primaire;

        

        &__link {
            display: flex;
            text-align: center;
            padding: 15px;
            border-radius: 9999px;
            background-color: white;
            box-shadow: 0px 0px 2px 2px $couleur-primaire;

            &:hover {
                box-shadow: 0px 0px 4px 4px $couleur-primaire;
                font-weight: bold;
            }
        }

    }
}