.containerPanier, .containerFormulaire {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: snow;
}

.produits {
    display: flex;
}

.sectionPanier {
    
    padding: 30px;
}

.produitsPanier {
    margin-right: 20px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px $couleur-primaire;
    flex: 1;
    background-color: white;
}

.panierTitle {
    margin-bottom: 20px;
}

.namePanier {
    display: flex;
    align-items: center;
}

.quantityPanier {
    display: flex;
    align-items: center;
}

.produitPanier {
    padding: 5px 40px;

    border-bottom: 3px solid $couleur-primaire;
    
    display: flex;
    justify-content: space-between;
}

.totalProductPrice {
    display: flex;
    align-items: center;
}

.totalPanier {
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px $couleur-primaire;
    background-color: white;
    width: 25%;
}

.totalPanierDetail {
    height: 40px;
    padding: 5px;
    border-bottom: 3px solid $couleur-primaire;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocFormulaire {
    max-width: 900px;
    margin: 20px auto;
    visibility:hidden
}

.formulaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info, .adresse {
    display: flex;
    flex-direction: column;
    width: 47%;

    label{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
}

.boutonPanier {
    display: flex;
    justify-self: center;
    margin: 20px 0px;
    font-size: 20px;
    padding: 20px;

}