@import "./variables";


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $couleur-primaire;
    
}

.container {
    max-width: 900px;
    margin: auto;
    background-color:$couleur-secondaire;
}

.lien {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $couleur-primaire;
}
.logo {
    margin-left: 30px;
    flex: 1;
}

.nav {
    align-self: center;
    margin-right: 30px;
    flex: 1;
}

.menu {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}
.descriptif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 20px 0px;
    font-size: 18px;

    &__text {
        padding: 0 30px;
    }
}

.ventes {
    background-color:$couleur-secondaire;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    font-size: 18px;

}

#teddiesArticle {
    padding: 0 50px;
    background-color: white;
}


footer {
    height: 300px;

}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

ul {
    list-style-type: none;
}


.article {
    display: flex;
    padding: 15px;
    margin: 40px 0px;
    width: 500px;
    box-shadow: rgb(219, 219, 219) 0px 0px 4px 1px;

    &:hover {
        box-shadow: rgb(219, 219, 219) 0px 0px 6px 3px;
    }

    &__information {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-left: 10px;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }

    &__description {
        margin-bottom: 10px;
    }

    &__color {
        margin-bottom: 10px;

        &__list {
            align-items: left;
        }
    }

    &__picture {
        height: 300px;
        width: 250px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__boutons {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        &__showProduct {
            display: flex;
            text-align: center;
            padding: 5px;
            border-radius: 9999px;
            background-color: $couleur-primaire;
        }

        &__addPanier {
            display: flex;
            text-align: center;
            padding: 5px;
            border-radius: 9999px;
            background-color: $couleur-primaire;
        }
    }
}

.colorPicker {
    display: block;
    width: 100px;
    height: 10px;
    border: 1px solid black;
}